/* About.less
 * Styles for about page
 * ---------------------------------------------------------------------------- */

body.page-template-about-php {

    .push {
        margin-left: 35px !important;
        width: 292px !important;
    }
    
    #story {
        display: block;
        float: none;
        margin-bottom: 25px;
        width: 100%;
        
        .columns {  
            .content-columns(3, 40px); 
            //height: 330px;
        }
    }

    #story > section:first-child {
        .columns(2);
    }   

    #people {
        //border-bottom: 1px solid @lightGray;
        display: block;
        float: left;
        position: relative;
        width: 622px;


        #container {
            dl {
                //.makeColumn(1);
                overflow: hidden;
                margin-bottom: 17px;
                margin-left: 0;
                margin-top: 4px;
            }
            dt {
                #font > .extrabold(14px, 18px);
                color: @black;
                text-transform: uppercase;
            }

            dd {
                margin-left: 0;
                font-size: 14px;
            }
        }
    }

    #contactus {
        border-bottom: 1px solid @lightGray;
        float: right;
        padding-bottom: 5px;
        width: 292px;
    }
}