/* Download.less
 * Styles for download page
 * ---------------------------------------------------------------------------- */

 body.page-template-download-php {
 	section {
	 	.columns(2);
	 }
	 #downloads {
	 	.columns(2);
	 	h1 {
	 		#font > .extrabold(18px, 22px);
            color: @black;
            margin-bottom: 0;
	 	}
	 	.download_link {
	 		margin: 1em 0;
	 		a {
	 			display: inline-block;
	 			line-height: 20px;
	 			margin-top: 5px;
	 			padding: 10px;
	 			&:hover {
	            	background-color: @lightblue;
	            	color: @white;
        		}
	 		}
	 		
	 	}
	 }
 }